.add-space-2{
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(65, 65, 204);
  
    h3 {
        margin: auto;
        color: white;

    }
}